<%- include('../../../partials/header'); -%>

<div class="px-16 py-10 w-full text-center">
    <div class="col-6 offset-3 mb-5 mt-5">
        <h2 class="text-center text-gray-800 font-bold text-2xl pb-4 pt-4">Page non trouvée</h2>
    </div>
    <img src="<%= configuration.base_url %>images/svg/404.svg" alt="Page non trouvée" class="mx-auto">
</div>

<%- include('../../../partials/footer'); -%>