<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mon article</title>
</head>
<body>
        <%- include('../header'); -%>

    NOM DE L'ARTICLE :

    <%= nomArticle %>

    <% if (nomAuteur == 'Mikhael' ) { %>
        MIKA
    <% } else { %>
        autre
    <% } %>

    
</body>
</html>