<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>
</head>
<body>
    <%- include('../header'); -%>
    
<h1>Bienvenue sur mon blog</h1>

<a href="/blog/articles">Liste d'articles</a>


</body>
</html>